html, body {
    height: 100%;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 760px;
    min-width: 540px;
    position: relative;    
    margin: auto;
    min-height: 350px;
    max-height: 400px;
    height: 100%;
    padding: 20px;
}

.status-log {
    border: 1px black solid;
    padding: 10px;
    font-size: 12px;
    font-family: monospace;
    width: 33%;
    position: relative;
    float: left;
    height: 100%;
    overflow-y: scroll;
    background-color: #fee;
}

.action-panel {
    position: relative;
    width: 33%;
    font-family: monospace;
    float: left;    
}

.btn {
    display: block;
    margin: auto;
    width: 150px;
    margin-top: 40px;
    height: 40px;
    cursor: pointer;
}

#zombieLog {
    float: right;
}

.status-log > div {
    margin-top: 10px;
}

.status-log .status-log-message {
    
}

.status-log .status-log-blood {
    font-weight: bold;
    color: red;
}

.status-log .status-log-shout {
    font-size: large;
    text-transform: uppercase;
}

.status-log .status-log-info {
    font-style: italic;
    color: gray;
}